*{
   
    /* background-color: red; */
    margin: 0;
    padding: 0;
}
#top{
    background-image: url(../images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
    /* border: 2px solid black; */
    /* background-color:#edfbfe ; */
    /* background-color: red; */
    height: 100vh;
    margin-bottom: 7.5vh;
    
}
#middle{
    /* border: 2px solid blue; */
    background-color: #fff;
    height:200vh ;
}
#bottom{
    /* border: 2px solid brown; */
    background-color: #00252e;
    height: 70vh;
}
#head{
    display: flex;
    /* border: 2px solid black; */
    height: 10vh;
    /* margin-top: 2.5%; */
}
#logo{
    /* border: 2px solid blue; */
    height: 10vh;
    width:15% ;
    margin-left: 5%;
    padding: 0;
}
#logoimg{
    margin-top: 8%;
}
#try{
    /* border: 2px solid red; */
    height: 10vh;
    width:15% ;
    margin-left: 60%;
    padding: 0;
    text-align: center;
}
#tryli{
    display: block;
    border: none;
    margin-top: 12.5%;
    margin-left: 15%;
    width: 60%;
    border-radius: 50px;
    box-shadow: 2px 10px 10px #e3f1f4;
    outline: none;
    background-color: white;
    padding: 3%;
    text-decoration: none;
    color: black;
    font-weight: 600;
    /* border: 2px solid; */

}
#tryli:hover{
    background-color: black;
    color: #fff;
}
#topcontent{
    /* border: 2px solid brown; */
    height: 90vh;
    display:flex;
}
#topleftcontent{
    /* border: 2px solid red; */
    /* background-color: red; */
    /* display: inline-block; */
    width: 50%;
    height: 90vh;
}
#toprightcontent{
    /* border: 2px solid blue; */
    /* background-color: blue; */
    display: inline-block;
    /* width: 50%; */
    height: 90vh;
    /* padding: 0px; */
    
}
#rtimg{
    /* margin-left: -1%; */
    /* scale: 90%; */
    display: inline-block;
    width: 87%;
    height: 90%;
    margin-left: 5%;
    margin-top: 2%;
}
#tlcont{
    /* border: 2px solid ; */
    /* margin-left: 10%; */
    margin-top: 20%;
    height: 60vh;

}
#tlch{
    font-size: 70px;
    width: 88%;
    margin-left: 8%;

    
}
#tlcp{
    margin-top: 5%;
    font-size: 32.5px;
    width: 90%;
    margin-left: 8%;
    color: #142d31;
}
#start{
    display: block;
    margin-left: 8%;
    margin-top: 5%;
    background-color: #fe52c0;
    width: 30%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    box-shadow:1px 1px 5px #f1e4f8;
}
#start:hover{
    background-color: #ff7ccf;
}
.box{
    /* border: 2px solid black; */
    box-shadow: 0px 0px 1px gray;
    width: 84%;
    outline: none;
    border: none;
    margin-left:8% ;
    margin-top: 2.5vh;
    height: 60vh;
    border-radius: 30px;
    display: flex;
}
.right{
    /* border: 2px solid blue; */
    width: 50%;
    height: 100%;
    border-radius: 30px;
    padding-left: 7.5%;
}
.left{
    /* border: 2px solid red; */
    width: 50%;
    height: 100%;
    border-radius: 30px;
    /* padding: ; */
}
.imgl{
    /* scale: 90%; */
    width: 74%;
    height: 80%;
    margin-top: 7%;
    margin-left: 17%;
}
#imgr{
    /* scale: 90%; */
    width: 74%;
    height: 80%;
    margin-top: 7%;
    margin-left: 17%;
}

#growh{
    font-size: 40px;
    margin-top: 25%;
    width: 83%;
    /* height: 5vh; */
    scale: 90%;
    margin-left: 17%;
}
#growp{
    
    /* border: 2px solid; */
    line-height: 1.2;
    margin-top: 2.5%;
    font-size: 27px;
    width: 83%;
    scale: 90%;
    margin-left: 17%;
    /* height: 34%; */
}
#flowingh{
    font-size: 40px;
    margin-top: 30%;
    width: 83%;
    /* height: 5vh; */
    scale: 90%;
    margin-left: 17%;
}
#flowingp{
       /* border: 2px solid; */
    line-height: 1.2;
    margin-top: 2.5%;
    font-size: 24px;
    width: 80%;
    scale: 90%;
    margin-left: 17%;
    /* height: 34%; */
}
#usersh{
    font-size: 40px;
    margin-top: 25%;
    width: 83%;
    scale: 90%;
    margin-left: 17%;

}
#usersp{
     /* border: 2px solid; */
     line-height: 1.2;
     margin-top: 2.5%;
     font-size: 27px;
     width: 86%;
     scale: 75%;
     margin-left: 17%;
     /* height: 34%; */
}
#overbox{
    /* border: 2px solid red; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px #cecece;
    border-radius: 30px;
    width:50.5% ;
    height: 38vh;
    margin-left: 24.8%;
    position: relative;
    bottom:-20vh ;
    border: none;
    
}
#btmh{
    /* margin-left: 30%; */
    /* width: 90%; */
    text-align: center;
    position: relative;
    top: 25%;
    font-size: 40px;
}
#startb{
    position: relative;
    margin-left: 25%;
    top: 20%;
    display: block;
    margin-top: 5%;
    background-color: #fe52c0;
    width: 40%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    box-shadow:1px 1px 5px #f1e4f8;
    
}
#startb:hover{
    background-color: #ff7ccf;
}
#leftb{
    /* border: 2px solid red; */
    width: 26.25%;
    margin-left: 7.5%;
    margin-top: 12.5%;
    position: absolute;
}
#blogo{
    /* background-color: white; */
    filter: invert(100%) saturate(0%);
}
#loc{
    margin-top: 5%;
    display: flex;
}
#loci{
    color: white;
    height: 25px;
    display: block;
}
#locd{
    color: white;
    margin-left: 5%;
    justify-content: left;
    line-height: 20px;
}
#num{
    margin-top: 5%;
    /* display: flex; */
}
#numi{
    color: white;
    height: 25px;
    filter: invert(100%);
    /* display: block; */

}
#numd{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 5%;
    /* justify-content: left; */
}
#mail{
    margin-top: 5%;
}
#maili{
    /* color: white; */
    /* display: block; */
}
#maild{
    color: white;
    text-decoration: none;
    letter-spacing: 1.5px;
    
    font-size: 20px;
    /* font-weight: 100; */
    margin-left: 5%;

}
#midb{
    /* border: 2px solid red; */
    width: 20.25%;
    margin-left: 45%;
    margin-top: 15.5%;
    position: absolute;
    height: 25vh;
    
}
#llb{
    /* border: 2px solid blue; */
    height: 25vh;
    width: 50%;
    

}
#rlb{

}
.ex{
    text-decoration: none;
    color: white;
    /* display: block; */
    font-size: 20px;
    line-height: 40px;
    
}
ul{
    display: flex;
}
li{
    list-style: none;    
}
#rb{
    /* border: 2px solid red; */
    margin-left:75% ;
    height: 25vh;
    width: 20%;
    position: absolute;
    margin-top: 15%;
}
#rb img{
    filter: invert(100%);
    scale: 110%;
}
#copyright{
    color: white;
    position: absolute;
    margin-left: 80%;
    margin-top: 30%;

}
